body{
    background-image:url(c3.jpg) ;
    background-size: 100%;
    
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    
}
#div1{
    margin: auto;
    margin-top: 40px;
    height: 250px;
    width: 30%;
    padding: 20px;
    background-color: peachpuff;
    color: black;
}
#div2{
    margin: auto;
    width: 30%;
    height:100px;
    padding: 20px;
    
    color: rgb(36, 6, 77);
  background-color: plum;
}
h1{
    text-align: center;
    color:rgb(247, 4, 4);
    background-color: aliceblue;
    
}
label{
    margin:10px;
    padding: 10px;
}